/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* { margin: 0; padding: 0; }

h1, h2 {
  font-family: 'Rock Salt', cursive;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 14px;
}

h3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 14px;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

/* HEADER STYLES */

header {
  color: #5E5573;
  background-color: #000000;
  width: 100%;
}

header h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

header h1 span {
  font-family: 'Rock Salt', cursive;
}

#hero {
  background: url('../img/hero-image.png') no-repeat;
  background-size: 100%;
  height: auto;
}

nav {
  padding-top: 1em;
  color: #8D98A6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

nav ul {
  list-style: none;
}

nav img {
  width: 1.25em;
  padding-right: 0.5em;
}

nav a {
  color: #8D98A6;
  text-decoration: none;
  font-size: 12px;
}

nav a:hover {
  color: #5E5573;
  text-decoration: underline;
}

#page-nav {
  text-transform: uppercase;
}

#page-nav ul li {
  display: inline-block;
  padding-left: 2em;
}

#slogan {
  margin-top: 5em;
  margin-left: 1em;
  padding-bottom: 1em;
}

#slogan h1 {
  padding-bottom: 0.5em;
}

#line1 {
  padding-left: 0.5em;
}

#line2 {
  padding-left: 1em;
}

#line3 {
  padding-top: 0.2em;
  padding-left: 1.5em;
}

/* SERVICES STYLES */

#services {
  background-color: #F2F2F2;
  color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 1em;
}

#services h1, h2, h3{
  text-align: center;
  padding-bottom: 1em;
}

#services h1, h2 {
  width: 100%;
}

#services h3 {
  width: 80%;

}
#services h1 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

#services p {
  width: 50%;
  text-align: center;
}

#services img {
  width: 3.5em;
  margin-bottom: 1em;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  padding-bottom: 3em;
}

#wedding img {
  width: 5em;
}

#booking-pricing {
  width: 100%;
  background-color: #404040;
  color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-bottom: 0.5em;
}

#booking-pricing h2 {
  padding-top: 2em;
}

#booking-pricing p {
  width: 80%;
  text-align: justify;
  padding-bottom: 1em;
}


/* ABOUT STYLES */

#about {
  background-color: #5E5573;
  color: #F2F2F2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding: 1.5em;
}

#about img {
  width: 45%;
  max-width: 638px;
  border-radius: 100%;
  padding: 1em;
}

#about h1 {
  padding: 0.5em;
}

#about p {
  padding: 0.5em;
  text-align: justify;
}

#about-text {
  width: 100%;
}

#about-me {
  width: 100%;
}

#about-practice {
  width: 100%;
  padding-top: 0.5em;
}

#about-text h1 {
  text-align: center;
}

#about-text p {
  padding-left: 1em;
  padding-right: 1em;
}


/* CONTACT STYLES */

#contact {
  background-color: #0D0D0D;
  color: #F2F2F2;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-flow: row wrap;
  padding-bottom: 0.5em;
}

#contact h1 {
  color: #5E5573;
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1em;
  text-align: center;
}

#traditional {
  width: 100%;
}

#social {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#social img {
  width: 3em;
}

address {
  width: 100%;
  text-align: center;
  padding-top: 1em;
}

#contact ul {
  width: 30%;
  list-style: none;
  display: inline-flex;
}

#contact li {
  padding: 1em;
}

#contact p {
  text-align: center;
}

#contact a:hover {
  opacity: 60%;
}

#credit {
  width: 100%;
  text-align: center;
  padding-top: 1.8em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #8D98A6;
}

#credit a {
  color: #5E5573;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 576px) {

  html {
    font-size: 16px;
  }

/* TABLET HEADER */

  nav img {
    width: 1.75em;
  }

  nav ul li a {
    font-size: 16px;
  }

  #slogan {
    margin-left: 1.5em;
    margin-top: 7em;
    padding-bottom: 0;
  }

  #slogan h1 {
    font-size: 32px;
    padding-bottom: 1em;
  }

  #line3 {
    padding-left: 2.2em;
  }

/* TABLET SERVICES */
  #booking-pricing {
    padding-bottom: 1em;
  }

  #booking-pricing h2 {
    padding-bottom: 1.5em;
  }

/* TABLET ABOUT */

  #about {
    padding: 2em;
  }

  /* TABLET CONTACT */

  #contact ul {
    width: 40%;
  }

}

@media only screen and (min-width: 992px) {

/* DESKTOP HEADER */

  nav {
    font-size: 30px;
    align-items: baseline;
  }

  nav ul li a {
    font-size: 24px;
  }

  #slogan {
    margin-top: 13.75em;
    padding-left: 2em;
    padding-bottom: 1em;
  }

  #slogan h1 {
    font-size: 42px;
  }

  #line1 {
    padding-left: 1em;
  }

  #line2 {
    padding-left: 1.5em;
  }

  /* DESKTOP SERVICES */



  #service-listings {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  .service {
    width: 28%;
  }

  #services h1 {
    font-size: 32px;
  }

  #services h2 {
    font-size: 18px;
  }

  #services p {
    width: 85%;
  }

/* DESKTOP ABOUT */

  #about img {
    width: 30%;
    padding: 0;
  }

  #about-text {
    width: 50%;
    padding-right: 1em;
  }

  #about-text h1 {
    font-size: 32px;
    text-align: left;
  }

  #about-text p {
    padding-left: 2em;
  }

  /* DESKTOP CONTACT */

  #traditional {
    width: 45%;
  }

  #social {
    width: 45%;
  }

  #social img {
    width: 3.5em;
  }

  #contact h1 {
    font-size: 36px;
  }

  #credit {
    padding-top: 3em;
  }

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
